<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167828025352-tlloiiqoa49rnlrvqlkd1acf9pi5adr7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167828025352-tlloiiqoa49rnlrvqlkd1acf9pi5adr7</string>
	<key>API_KEY</key>
	<string>AIzaSyDQrMybrir9S085Z9dZU3dax2_LJhZQS-c</string>
	<key>GCM_SENDER_ID</key>
	<string>167828025352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petadoptionapp</string>
	<key>PROJECT_ID</key>
	<string>online-pet-adoption-5ca31</string>
	<key>STORAGE_BUCKET</key>
	<string>online-pet-adoption-5ca31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167828025352:ios:76a7660688bd030d8061bd</string>
</dict>
</plist>